# travelchill/.dockerignore
target/
build/

.git/
.gitignore
.gitattributes

.idea/
.mvn/

.project

.classpath

.settings/

.STS4/

.vscode/

*.log
*.tmp
*.bak
*.swp
temp/
out/

mvnw
mvnw.cmd
gradlew
gradlew.bat

HELP.md

angularproject/

db-init/

uploads/