npm-debug.log
yarn-error.log
# Cache của npm
.npm/
.yarn/cache/
# Thư mục chứa output của lệnh ng build (sẽ được tạo lại trong container).
dist/
# Thư mục tạm thời của Angular CLI (tạo trong quá trình phát triển).
.angular/
# Thư mục và tệp liên quan đến Hệ thống kiểm soát phiên bản (Git)
.git/
.gitignore
.gitattributes
# Thư mục và tệp cấu hình IDE
.idea/
# Cấu hình Visual Studio Code
.vscode/
# Các tệp tạm thời hoặc không cần thiết khác
tmp/
*.log
*.tmp
*.bak
*.swp
