<!-- footer section start -->
<section class="footer">
    <div class="footer-box">
        <a href="#" class="logo" style="font-size:20px;">Tra<span>vel</span></a>
        <p>Enjoy the touring with TravelChill</p>
        <div class="social">
            <a routerLink="#"><i class="fa fa-instagram"></i></a>
            <a routerLink="#"><i class="fa fa-twitter"></i></a>
            <a routerLink="#"><i class="fa fa-facebook"></i></a>
        </div>
    </div>
    <div class="footer-box">
        <h3>Company</h3>
        <a routerLink="/">Travelling</a>
        <a routerLink="#">About Location</a>
        <a routerLink="#">Success</a>
        <a routerLink="#">Information</a>
    </div>
    <div class="footer-box">
        <h3>Resources</h3>
        <a routerLink="#">Download</a>
        <a routerLink="#">Help Center</a>
        <a routerLink="#">Guide Book</a>
        <a routerLink="#">App Directory</a>
    </div>
    <div class="footer-box">
        <h3>Travellers</h3>
        <a routerLink="#">Why Travellers</a>
        <a routerLink="#">Customer Stories</a>
    </div>
    

</section>
<!-- footer section end -->


<!-- copyright section -->
<div class="copyright">
    <p>Developed with ❤ by Dao Van Cong<br>
        © Copyright 2025 | Developed by Dao Van Cong | All rights reserved.</p>
</div>